h1,
h2,
h3,
p {
  text-align: justify;
}

header {
  width: 100%;
  background-color: #0a0058;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header h2 {
  margin-left: 20px;
}

header a.icon {
  display: none;
}

nav {
  margin-right: 20px;
}

header a,
nav a {
  color: white;
  text-decoration: none;
}

header a:hover,
nav a:hover {
  color: aqua;
  text-decoration: underline;
}

nav ul li {
  display: inline-flex;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 9px;
}

body {
  font-family: sans-serif;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

.content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
}

aside {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 5px;
  flex: 1.5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 20px;
}

a:hover {
  color: black;
  text-decoration: underline;
}

figcaption {
  color: black;
  font-size: small;
}

footer {
  max-width: 100%;
  display: inline-flex;
  margin-top: 10px;
  padding: 20px;
  color: white;
  background-color: #0a0058;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: skyblue;
  text-decoration: none;
}

footer .right {
  margin-left: 887px;
}

.foto {
  text-align: center;
}

/* view mobile */

@media screen and (max-width: 1200px) {
  .content {
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 768px) {
  header a.icon {
    display: block;
    position: absolute;
    padding-top: 20px;
  }

  nav ul {
    display: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    display: block;
    justify-content: center;
    margin: 10px 0;
  }

  aside {
    align-self: stretch;
  }

  main {
    display: block;
  }

  footer .right {
    margin-left: 0px;
  }
}
